.header-wrapper {
  background-color: #e45858;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 10px 20px #00000021;
}

.header-button {
  border: 0;
  background-color: #6246ea;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  transition: all ease 0.1s;
}

.header-button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.header-button:active {
  transform: scale(1);
}

.header-image {
  width: 40px;
}
